<style media="screen">
  .user-info {
    padding: 7px 15px 0 7px;
  }
</style>
<div class="container">
  <h2>My Info</h2>
  <div class="" ng-if="!ctrl.user">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </div>
  <div class="form-horizontal" ng-if="ctrl.user">
    <div class="form-group">
      <label for="first-name" class="col-xs-3 control-label">First Name:</label>
      <div id="first-name" class="col-xs-9 user-info">
        {{ctrl.user.firstName}}
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-xs-3 control-label">Last Name:</label>
      <div class="col-xs-9 user-info">
        {{ctrl.user.lastName}}
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-xs-3 control-label">Email:</label>
      <div class="col-xs-9 user-info">
        {{ctrl.user.email}}
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-xs-3 control-label">Phone number:</label>
      <div class="col-xs-9 user-info">
        {{ctrl.user.phone}}
      </div>
    </div>
    <div class="form-group">
      <label for="favorite-item" class="col-sm-3 control-label">Favorite dish:</label>
      <div class="col-sm-9 user-info">
        <menu-item id="favorite-item" menu-item="ctrl.favoriteMenuItem"></menu-item>
      </div>
    </div>
  </div>
</div>
